* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
}

body {
    position: relative;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to top left, #0c6798 0%, #0eb379 100%);
}

.first-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top left, #0eb379 0%, #0c6798 100%);
    width: 100%;
    height: 100vh;
}

.first-window p {
    background-color: #FFF;
    color: #0c8a98;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 15px 30px;
    font-size: 50px;
    margin-bottom: 80px;
}

#play-game,
#rules {
    margin: 20px;
    font-weight: bold;
    font-size: 40px;
    padding: 15px 40px;
    background-color: #0d9087;
    color: #FFF;
    border: 4px solid #FFF;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .5s;
}

#play-game:hover,
#rules:hover {
    background-color: #FFF;
    color: #0d9087;
    border: 4px solid #0d9087;
    transition: ease-in 0.2s;
}

body h1 {
    background-color: #FFF;
    color: #0c8a98;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 15px 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 760px;
    margin-bottom: 10px;
}

.main-menu {
    display: flex;
    width: 160px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    left: 20px;
    top: 15px;
    transition: background-color .5s;
    cursor: pointer;
}

.main-menu:hover {
    background-color: #fff;
    color: #0d9087;
    transition: ease-in 0.2s;
}

.main-menu p {
    font-size: 20px;
}

.main-menu .fas {
    font-size: 20px;
}

.player-choice,
.computer-choice {
    text-align: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
    width: 250px;
    height: 200px;
    margin: 40px;
    border-radius: 10px;
    padding: 10px;
}

.player-choice-head,
.computer-choice-head {
    text-align: center;
    padding: 5px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(43, 25, 25, 0.4);
    height: 40px;
    width: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.player-score,
.computer-score {
    text-align: center;
    position: absolute;
    bottom: -25px;
    left: 100px;
    background-color: rgba(43, 25, 25, 0.4);
    height: 50px;
    width: 50px;
    border-radius: 10px;
    padding: 13px 0;
    font-size: 22px;
    font-weight: bold;
}

.player-choice-img,
.computer-choice-img {
    width: 160px;
    margin-top: 20px;
}

#play-again {
    position: absolute;
    bottom: 30px;
    right: 40px;
    color: #FFF;
    border: none;
    box-shadow: 0px 0px 5px 1px #FFF;
    padding: 10px;
    width: 130px;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.53);
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    z-index: 8;
    transition: background-color .5s;
}

#result-btn {
    right: 200px;
    width: 150px;
}

#play-again:hover {
    background-color: #fff;
    color: #0d9087;
    /* border: 4px solid #0d9087; */
    transition: ease-in 0.2s;
}

.your-results,
.computer-results {
    text-align: center;
    width: 160px;
    height: 150px;
    background-color: #0e858c;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

.your-results p,
.computer-results p {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.line {
    border-top: 2px solid white;
}

.winner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 780px;
    height: 100px;
    background-color: #FFF;
    color: #0c8a98;
    font-weight: bolder;
    padding: 13px;
    text-align: center;
    font-size: 45px;
    border-radius: 20px;
    z-index: 10;
}

.choice {
    width: 120px;
    padding: 10px;
}

.btn {
    margin: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#rock {
    background-color: #e83123;
}

#paper {
    background-color: #13e4a2;
}

#scissors {
    background-color: #00ffff;
}

.rules-window {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #FFF;
    border-radius: 8px;
    z-index: 10;
    height: 450px;
}

.rules-window .fas {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    color: #0c9185;
    font-size: 20px;
    left: 20px;
    top: 20px;
    cursor: pointer;
    transition: background-color .5s;
}

.rules-window .fas:hover {
    background-color: #0d9087;
    color: #FFF;
    transition: ease-in 0.2s;
}

.rules-window p {
    font-size: 30px;
    color: #0c9185;
    border-radius: 20px;
    font-weight: bolder;
}

.rules-window img {
    width: 360px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.783);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.winner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.783);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.hidden {
    display: none;
}
